cloudpickle==2.2.0
google-api-core==2.10.2
google-auth==2.13.0
google-auth-oauthlib==0.4.6
google-cloud-bigquery==2.34.4
google-cloud-bigquery-storage==2.16.2
google-cloud-core==2.3.2
google-cloud-storage==2.4.0
google-crc32c==1.5.0
google-pasta==0.2.0
google-resumable-media==2.4.0
google-trans-new==1.1.9
googleapis-common-protos==1.56.4
lxml==4.9.1
numpy==1.23.5
pandas==1.4.4
pandas-gbq==0.17.9
pandas-profiling==3.3.0
pandocfilters==1.5.0
pickleshare==0.7.5
PyYAML==5.4.1
scikit-image==0.19.3
scikit-learn==1.1.2
scipy==1.8.1
urllib3==1.26.12
xgboost==1.6.2
# API
fastapi         # API framework
pytz            # time zone management
uvicorn         # web server
# tests
httpx           # HTTP client
pytest-asyncio  # asynchronous I/O support for pytest
